<% author = loop_collection.user %>

<div class='row well well-small'>  
  <div class='span1 listen'>   
    <a class='btn' href="<%= listen_url(loop_collection) %>"> <i class="icon-music"></i> Listen </a>
  </div>
  
  <% if author == current_user %>  
    <div class='span1 destroy'> 
      <%= link_to '<i class="icon-remove"></i> Destroy'.html_safe, 
                  loop_collection_url(loop_collection), 
                  :class => 'btn', 
                  :method => :delete %>
    </div>
  <% end %>
  <div class='span6 loop-title'> 
    <h4><%= loop_collection.title %></h4> by <%= link_to author.username, user_url(author)%> 
  </div>
    
  
  
</div>