<div id='site-footer'>
  <div id='footer-content'>
    <p>ensōng is a project by <a href="https://github.com/justalisteningman">ben watts</a>.</p> 
    <p>He is available for hire and pleasant conversation.</p>
    <div id='fb-container'>
      <div class="fb-like" data-href="http://www.ensong.us" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
      </div>
    </div>
    <a href="https://twitter.com/share" 
       class="twitter-share-button" 
       data-url="http://www.ensong.us"
       data-lang="en">
       Tweet
    </a>
  </div>
</div>