<div id='site-footer'>
  <div id='footer-content'>
    <p>ensōng is a project by <a href="https://github.com/justalisteningman">ben watts</a>.</p> 
    <p>He is currently available for hire, pleasant conversation, and musical collaboration.</p>
  </div>
</div>