<% if (message){ %>
  <span class='tip' data-toggle='tooltip' data-placement="left" title="<%= message %>" >  
<% } else { %>
  <span>  
<% } %>
  <a class="btn btn-small" href="#" id='favorite'><i class="icon-star"></i> <br>Favorite <%= count %> </a>
</span> 